body {
  background-color: black;
  }

h1 {
  color: lightblue;
  text-align: center;
  }

p {
  font-family:'Lucida Console', monospace;
  color: azure;
  font-size: 14px;
  white-space: pre;
  }
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: rgb(196, 200, 202);
 }
 label {
  color:rgb(196, 200, 202);
}

input[type=text] {
  color: rgb(196, 200, 202);
}